.header {
  width: 88%;
  height: 8%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: darkslategrey;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 5%;
  border-bottom: 3px outset slategrey;
  z-index: 1;
}

.title {
  padding-top: .5%;
  font-size: 2.5rem;
  text-decoration: underline overline;
  font-weight: bold;
  color: lightblue;
}

.header-btn {
  background-color: darkslategrey;
  border: none;
  transition: background-color border .5s ease-out;
  border-bottom: 3px outset slategrey;
}

.header-btn:hover {
  background-color: slategrey;
  border-bottom: 3px outset darkslategrey;
  border-left: 3px outset darkslategrey;
  cursor: pointer;
}
