.border-u {
  border-top: 1px solid black;
}

.border-d {
  border-bottom: 1px solid black;
}

.border-l {
  border-left: 1px solid black;
}

.border-r {
  border-right: 1px solid black;
}

.cell {
  z-index: 1;
}